#red{
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}
button {
    border: 3px solid black;
    padding: 20px 30px;
    margin: 10PX;
    border: transparent;
}
button:hover {
    border: 3px solid black;
    cursor: pointer;
}